


.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}


.ingreso-nombre small{
    visibility: hidden;
}

.ingreso-nombre.error small{
    visibility: visible;
    color: red;
}